body {
background:black;
color:white;
}
a, a:visited, a:hover, a:link {

color:white;
}
nav a {
border-radius: 9999999px;
border: 1px solid white;
padding:10px;
margin:10px;
display:inline-block;
}
.mypic {
        width:100px;
        height:100px;
}
#map {
        width:100%;
        height:200px;
}
